env.json
old-keys.txt
TODO.md

# development lockfile
uv.lock

.idea/
.zed/
.vscode

*/__pycache__
__pycache__
__pycache__/*
.venv/
*.egg-info
build/

geckodriver.log

*.DS_Store
.DS_Store

.ruff_cache

# misc dev
calculator_example.py
